<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax | {{ pet.pet_name }}</title>
</head>

<body style="background: #F5F3EB; font-family: 'ABeeZee', helvetica;">
    <div class="container"
        style="width: 50%; margin: 2em auto; padding: 1em 3em 3em 3em; border-radius: 1em; background: white; box-shadow: 2px 2px #ddd;">
        <H1 style="color: #7FA4AD; font-family: 'Bowlby One', impact; font-size: 4em; text-align: center;">{{
            pet.pet_name }}</H1>
        <div class="callout" style="margin: 0.5em 0;">
            <span style="font-weight: 800">Did you know?</span><br />{{ pet.pet_fact }}
        </div>
        <div class="pets-container">
            <div class="show-pet">
                <img src="{{ pet.pet_photo }}" alt="Photo of {{ pet.pet_name }}"
                    style="width: 100%; border-radius: 1em; display: block; margin-bottom: 0.5em;" />
            </div>
        </div>
        <a href="/pets" style="font-family: 'Abel', verdana; text-decoration: none; color: #7FA4AD;">⟨　Go back</a>
    </div>
</body>

</html>